.banner{
    margin-top: 35px;

    &__top-small{
        text-transform: uppercase;
        color: #7B8288;
        font-size: 14px;
        margin-bottom: 0;
        // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        span{
            color: #4B73FF;
            font-weight: 500;
        }
        @include media-breakpoint-down(sm){
            font-size: 12px;
        }
        @include media-breakpoint-up(xxl){
            font-size: 18px;
        }
    }
    &__title{
        font-size: 70px;
        font-weight: 500;
        background: linear-gradient(to right,#7000FF, #FF4646);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
        margin-bottom: 0;

        @include media-breakpoint-down(md){
            font-size: 60px;
        }
        @include media-breakpoint-down(sm){
            font-size: 40px;
        }
        @include media-breakpoint-up(xxl){
            font-size: 100px;
        }

    }
    &__subtitle{
        @include media-breakpoint-down(sm){
            font-size: 16px;
        }
        @include media-breakpoint-up(xxl){
            font-size: 26px;
            max-width: calc(100% - 160px);
        }

        font-size: 19px;
        max-width: 530px;
        color: #7B8288;
        margin-top: 1.7rem;

        span{
            color: #4B73FF;

        }

        
    }
}

.featured-works{
    .card{
        @include media-breakpoint-down(xl){
            max-width: 100%;
            margin-bottom: 1.2rem;
            width: 320px;
        }
        @include media-breakpoint-down(md){
            margin: auto;
            max-width: 100%;
            margin-bottom: 1.2rem;
            width: 350px;
        }
        @include media-breakpoint-up(xl){
            margin: auto;
            max-width: 100%;
            margin-bottom: 2.5rem;
            width: 400px;
        }

        width: 350px;
        max-width: 350px;
        margin-bottom: 1.6rem;
        border-radius: 15px;
        overflow: hidden;
        border: none;
        transition: .3s ease;
        
        &:hover{
            box-shadow: 0px -5px 41px -15px #0000003b;

            .card-img-top{
                transform: rotate(2deg) scale(1.1);
            }
        }

        .card-img{
            height: 290px;
            overflow: hidden;
            @include media-breakpoint-up(xl){
                height: 320px;
            }

            .card-img-top{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .2s ease-in-out;
            }
        }

        .card-body{
            position: relative;

            .label{
                position: absolute;
                top: 0;
                left: 1.5rem;
                transform: translateY(-50%);
                font-size: 12px;
                background-color: #fff;
                border-radius: $border-radius-pill;
                padding: .2rem .6rem;
                color: #313131;
            }

            .card-title{
                font-weight: 400;
                font-size: 20px;
                color: #313131;
                @include media-breakpoint-down(lg){
                    font-size: 18px;
                }
            }

            .card-tags{
                font-weight: 300;
                color: #7B8288;
                font-size: 16px;
            }
            
            .card-category{
                margin-top: 1rem;
                font-size: 14px;
                color: #7B8288;
                text-decoration: none;
            }
        }
    }
}

.services-wrap{

    .card-col{
        &:nth-child(1){
            .card{
                .card-body{
                    &::before{
                        background-color: $danger;
                    }
                }
            }
        }

        &:nth-child(1){
            .card{
                &::before{
                    background: linear-gradient(to right, #7835ca00, $danger) !important;
                }
            }
        }
        &:nth-child(2){
            .card{
                &::before{
                    background: linear-gradient(to right, #7835ca00, rgb(136, 136, 136)) !important;
                }
            }
        }
    }

    .card{
        border: none;
        border-radius: 16px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @include media-breakpoint-down(xs){
            margin-bottom: 1rem;
        }

        &::after, &::before{
            position: absolute;
            content: '';
        }

        &::before{
            width: 150px;
            height: 100%;
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%) rotate(-90deg);
            transform-origin: bottom center;
            z-index: 9;
            // background: linear-gradient(to right, #7835ca00, #7835ca);
        }

        @keyframes rotate {
            0%{
                transform: translateX(-50%) rotate(-90deg);
            }

            100%{
                transform: translateX(-50%) rotate(270deg);
            }
        }

        &:hover::before{
            animation: rotate linear 3s;
        }

        &::after{
            background-color: #ffffff;
            inset: 2px;
            border-radius: 16px;
            z-index: 99;
        }


        .card-body{
            padding: 1.5rem 1rem;
            position: relative;
            z-index: 999;

            &::before{
                position: absolute;
                content: '';
                width: 2px;
                background-color: rgb(136, 136, 136);
                left: 0;
                top: 10%;
                height: 84%;
            }
        }
        
        


        .card-title{
            font-size: 1.45rem;
            font-weight: 400;
            color: #313131;
            position: relative;
            width: fit-content;

            .stamp{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(120%, -50%);
                background-color: $danger;
                font-size: .8rem;
                padding: .3rem .5rem;
                border-radius: $border-radius-pill;
                color: #fff;
            }
        }
        .card-subtitle{
            color: #7B8288;
            font-size: 12px;
            margin-top: 1rem;
        }


    }
}