<%# Include footer %>
<%- include('src/includes/header', {title: 'Home toru'}) %>

<%# Your Content start %>

<div class="container">
    <div class="row">
        <div class="col-md-6 bg-blue">
            gfg
        </div>
        <div class="col-md-6 bg-red">
            fgfg
        </div>
    </div>
</div>

<%# Your Content end %>

<%# Include footer %>
<%- include('src/includes/footer') %>
    
