.navbar-nav{
    .nav-item{
        &:last-child{
            .nav-link{
                padding-right: 0;
            }
        }

        .nav-link{
            font-size: 14px;

            @include media-breakpoint-up(xxl){
                font-size: 20px;
            }
        }
    }
}